<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Annos</title>
        <meta charset="utf-8" />
    </head>
    
    <body>
        <h1> Raaka-aineet tässä annoksessa</h1>


        <ul>
            <li th:each="k : ${kaikki}">
                 
                <span th:text="${k}">  
                          info
                </span>
                
             
               
            </li>
        </ul>
        
        <a href="/annokset">                        
                    <button>Palaa listaukseen</button>
                    </a> 

    </body>
</html>