<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Annokset</title>
        <meta charset="utf-8" />
    </head>

    <body>

        <ul>
            <li th:each="annos : ${annokset}">
                <span th:text="${annos.nimi}">
                    :DD
                          
                </span>
            </li>
        </ul>
        
        <h1>Lisää uusi annos : </h1>
        <form action="/annokset" method="POST">
           Annokseen: <input type="text" name="annokseen"/><br></br>
               Raaka-aine: <input type="text" name="raaka-aine"/><br></br>
               Jarjestys: <input type="text" name="jarjestys"/><br></br>
               Maara:  <input type="text" name="maara"/><br></br>
           Ohje:  <input type="text" name="ohje"/>
            <input type="submit"/>
        </form>
    </body>
</html>