<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html>
    
    <head>
        <title>Annokset</title>
    </head>
    
    <body>
        <h1>Kaikki</h1>
        
        
        
        <p th:text="${annokset}">
            :D
        </p>
        
        <ul>
            <li th:each="annos : ${annokset}">
                <span th:text="${annos}">
                    :DD
                          
                </span>
            </li>
        </ul>
        
        <a href="/raaka-aineet">
            <button>Luo uusi</button>
        </a>
        <a href="/annokset">
            <button>Annokset</button>
        </a>
        
    </body>
    
</html>